@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model  EventStoreApp.Models.EventViewModel.EventListViewModel

@{
    ViewData["Title"] = "Мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список мероприятий</h2>
<form class="form-inline" method="POST" asp-controller="Event" asp-action="Index">
    <div class="form-group">
        <label for="inputString"><i class="fa fa-search fa-lg" aria-hidden="true"></i></label>
        <input type="text" name="searchString" class="form-control" id="inputString"/>
    </div>
    <div class="btn btn-group">
        <button type="submit" class="btn btn-primary">Найти</button>&nbsp;
        <a class="btn btn-default" role="button" asp-action="Create">Добавить новое мероприятие</a>
    </div>
</form>
<br />
<div class="row">
    @foreach (var item in Model.EventList)
    {
        <div class="col-sm-6 col-md-4">
            @Html.Partial("EventSummary", item)
        </div>        
    }
</div>
